<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/grid.css">
    <script src="./js/jquery.js"></script>
    <script src="./js/jquery.simplr.smoothscroll.min.js"></script>
    <script src="./js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
<body>
<header id="header">
	<div id="header-content">
		<div class="container">
			<div class="row">
				<div class="grid_12 header_content">
					<div id="title"><a href="index.html">BoxFox S&G<span>박스여우 컴퍼니</span></a></div>
					<nav>
						<ul class="sf-menu">
							<li class="current"><a href="index.html">Home</a></li>
							<li><a href="index-1.html">Services</a></li>
							<li><a href="index-2.html">Portfolio</a></li>
							<li><a href="index-3.html">Blog</a></li>
							<li><a href="index-4.html">Contacts</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
</body>
</html> 
